
{% extends "base.html" %}

{% block content %}
<div class="form-container">
    <h2>Historial de Envíos</h2>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Seguimiento</th>
                    <th>Remitente</th>
                    <th>DNI Rem</th>
                    <th>Cel Rem</th>
                    <th>Dirección Rem</th>
                    <th>CP Rem</th>
                    <th>Ciudad Rem</th>
                    <th>Prov Rem</th>
                    <th>Destinatario</th>
                    <th>DNI Dest</th>
                    <th>Cel Dest</th>
                    <th>Dirección Dest</th>
                    <th>CP Dest</th>
                    <th>Ciudad Dest</th>
                    <th>Prov Dest</th>
                    <th>Peso</th>
                    <th>Frágil</th>
                    <th>Observaciones</th>
                </tr>
            </thead>
            <tbody>
                {% for envio in envios %}
                <tr>
                    <td>{{ envio['ID'] }}</td>
                    <td>{{ envio['Seguimiento'] }}</td>
                    <td>{{ envio['Remitente'] }}</td>
                    <td>{{ envio['DNI Rem'] }}</td>
                    <td>{{ envio['Cel Rem'] }}</td>
                    <td>{{ envio['Dirección Rem'] }}</td>
                    <td>{{ envio['CP Rem'] }}</td>
                    <td>{{ envio['Ciudad Rem'] }}</td>
                    <td>{{ envio['Prov Rem'] }}</td>
                    <td>{{ envio['Destinatario'] }}</td>
                    <td>{{ envio['DNI Dest'] }}</td>
                    <td>{{ envio['Cel Dest'] }}</td>
                    <td>{{ envio['Dirección Dest'] }}</td>
                    <td>{{ envio['CP Dest'] }}</td>
                    <td>{{ envio['Ciudad Dest'] }}</td>
                    <td>{{ envio['Prov Dest'] }}</td>
                    <td>{{ envio['Peso'] }} KG</td>
                    <td>{{ envio['Frágil'] }}</td>
                    <td>{{ envio['Observaciones'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="btn-group">
        <a href="/exportar_csv">Exportar CSV</a>
        <a href="{{ url_for('index') }}">Volver al Generador</a>
    </div>
</div>
{% endblock %}
